
    <div class="jumbotron jumbotron-fluid splash">
        <div class="container ">
            <div class="">
                <h1 class="display-4 text-center">API Search - 5E SRD Edition</h1>
                <p class="lead text-center">A simple Rails application that searches the 5th Edition SRD for Dungeons and Dragons.</p>
                <p class="text-center"><%= @monster_count %> total monsters and counting... <%= link_to("Add More (warning - not a background task)!", monsters_path(create_type: "bulk"), method: :post) %></p>

                <%= form_for @search, url: search_index_path, method: :post, html: {class: "form-inline mx-auto splash-search", style: "width: 300px;"} do |f| %>
                    <%= f.text_field :keyword, class: "form-control mr-sm-2", type: "search", placeholder: "Search" %>

                    <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0", type: "submit" %>
                <% end %>
            </div>
        </div>
    </div>
