<div class="container">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Past Searches</span>
                </h6>

                <ul class="nav flex-column">
                    <% @searches.each do |search| %>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= search_path(search) %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                <%= search.keyword %> <span class="badge badge-primary badge-pill"><%= search.num_times %></span><span class="sr-only">(current)</span>
                            </a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Search: <%= @search.keyword.capitalize %></h1>
            </div>
            
            <div>
                <% @results.each do |result| %>
                    <div class="card">
                        <div class="card-header">
                            <blockquote class="blockquote mb-0">
                            <%= result.name %> (CR <%= result.challenge_rating %>)
                            </blockquote>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <th>Str</th>
                                    <th>Dex</th>
                                    <th>Con</th>
                                    <th>Int</th>
                                    <th>Wis</th>
                                    <th>Cha</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><%= result.strength %></td>
                                        <td><%= result.dexterity %></td>
                                        <td><%= result.constitution %></td>
                                        <td><%= result.intelligence %></td>
                                        <td><%= result.wisdom %></td>
                                        <td><%= result.charisma %></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-md-4">
                                    <p>Size: <%= result.size.capitalize %></p> 
                                    <p>Type: <%= result.monster_type.capitalize %></p>
                                    <p>Subtype: <%= result.subtype.capitalize %></p>
                                </div>

                                <div class="col-md-4">
                                    <p>Alignment: <%= result.alignment.capitalize %></p>
                                    <p>Senses: <%= result.senses.capitalize %></p>
                                    <p>Languages: <%= result.languages.capitalize %></p>
                                </div>

                                <div class="col-md-4">
                                    <p>Damage Vulnerabilities: <%= result.damage_vulnerabilities.capitalize %></p>
                                    <p>Damage Resistances: <%= result.damage_resistances.capitalize %></p>
                                    <p>Damage Immunities: <%= result.damage_immunities.capitalize %></p>
                                </div>
                            </div>

                            <% if result.special_abilities.length > 0 %>
                                <blockquote class="blockquote mb-0">
                                    Special Abilities
                                </blockquote>
                                <% result.special_abilities.each do |ability| %>
                                    <div>
                                        <p><%= ability.name %></p>
                                        <p><%= ability.description %></p>
                                    </div>
                                <% end %>
                            <% end %>

                            
                            <% if result.actions.length > 0 %>
                                <blockquote class="blockquote mb-0">
                                    Actions
                                </blockquote>
                                <% result.monster_actions.each do |action| %>
                                    <div>
                                        <p><%= action.name %></p>
                                        <p><%= action.description %></p>
                                    </div>
                                <% end %>
                            <% end %>
                            
                            <% if result.legendary_actions.length > 0 %>
                                <blockquote class="blockquote mb-0">
                                    Legendary Actions
                                </blockquote>
                                <% result.legendary_actions.each do |legendary_actions| %>
                                    <div>
                                        <p><%= legendary_action.name %></p>
                                        <p><%= legendary_action.description %></p>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </main>
    </div>
</div>